body{
    background-color:black;
}
a{
    color: red;
    display: inline-block;
    transform: translate(485px, 30px);
    background-color: black;
   text-decoration: none;
   font-size: 20px;
}

p{
    display: inline-block;
    transform: translate(450px, 7px);
    color: red;
    font-size: 60px;
}

